/* Inizio parti in comune del codice */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.container{
    width: 80%;
    max-width: 1180px;
    margin: 0 auto; 
    
}
.container::after{
    display: table;
    content: "";
    clear: both;
}

.btn{
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 14px;
    padding: 7px 16px;


}

.btn.big{
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 28px;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: 600;
    
}
/* Inizio regole di hover */
footer ul li a:hover{
    color: blue;
    text-decoration: underline;
}
nav ul li a:hover{
    text-decoration: underline;
    color: black;
}
header .btn:hover{
    background-color: red;
    color: white;
}

.btn.big.btn-mac:hover{
    background-color: green;
    color: white;
}

#jumbotron .btn-browser:hover{
    background-color: gray;
    color: #23272a;
}

.btn.btn-footer:hover{
    background-color: white;
    color:black;
} 

.text-last-item .btn.big.btn-mac:hover{
    background-color: red;
    color: black;
}
/* Fine regole di hover per i vari btn */

/* Regola per freccia in giù all'interno del bottone */
.fas{
    margin-right: 10px;
}


/* Regole di testo */
h2{
    font-size: 42px;
}

h3{
    font-size: 32px;
}

p{
    font-size: 20px;
    
}


/* Regole sulle wave inserite come immagini */
.wave{
    display: block;
    filter: invert(100%) sepia(0%) saturate(5290%) hue-rotate(50deg) brightness(122%) contrast(95%);
}

.wave.rotate{
    transform: rotate(180deg);
}
/* Fine parti in comune del codice */


/* Inizio regole header */
header{
    background-color:#3161e0;
    height: 70px;
    padding-bottom: 200px;  
}

header .container{
    line-height: 70px;
    
}


#logo img{
    float:left;
    width: 15%; 
    height: 70px;
    margin-top:auto;
    
}


/* Regole nav */
nav ul{
    float:left;
    display: inline-block;
    text-align: center;
    width: 70%;

}

nav ul li{
    display: inline-block;
    text-decoration: none;    
}

header a{
    
    color: rgb(255, 255, 255);
}

nav li a{
    text-decoration: none;
    margin-right: 20px;
   
}
/* Fine regole nav */


/* Regole bottone login */
.login {
    display: inline-block;
    float:right;
    width: 15%;
    text-align: right;
}

.login .btn{
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 16px;
    padding: 7px 16px;
    display: inline;

}

/* Fine regole header */

/* Inizio regole sezione jumbotron */
#jumbotron{
    background-image: url("img/jumbo.png");
    min-height: 420px;
    background-size: cover;
    background-position: center;
      
}

#jumbotron .container{
    width: 60%;
    max-width: 780px;
    
    text-align: center;
    color: white;  
}

#title-text{
    font-size: 56px;
}

#p-title{
    font-size: 20px;
    margin-top: 40px;
}

#jumbotron .btn-mac{
    margin-top: 24px;
    margin-right: 24px;

}

#jumbotron .btn-browser{
    margin-top: 24px;
    background-color: #23272a;
    color: white;
    

}


/* Fine regole sezione jumbotron */


/* Inizio regole main */
main{
    padding-top: 100px;
    background-color: rgb(255, 255, 255);
}
.padding-container{
    padding:80px 20px;
}

.content{
    width: 80%;
    margin: auto;
    max-width: 1180px;
}

.container-gray{
    background-color: #f6f6f6;
    
}



.container-gray::after{
    display: table;
    content: "";
    clear: both;
}

.text-last-item{
    text-align: center;
    
}

.last-section{
    
    min-height: 800px;
}


.item{
    float: left;
    width: 70%;
    padding-right: 50px;
    
}

.text-item{
    padding-top: 40px;
    float: left;
    width: 30%;

}

.stars{
    background-image: url("img/stars.svg");
    margin-bottom: 60px;
    text-align: center;
       
}

.text-last-item .btn.big.btn-mac{
    background-color: #8ea1e1;
    color: white;
}

/* Fine regole main */


/* Inizio regole footer */
footer{
    min-height: 500px;
    background-color: #23272a;
    padding-top: 50px;
}

.info-conteiner::after{
    display: table;
    content: "";
    clear: both;
    
}

.info{
    float: left;
    text-align: center;
}

.info.box{
    width: 40%;
    text-align: left;
    color: #8ea1e1;
    text-align: justify;
}

.info.box span{
    color: white;
}

.info.box .social{
    color: white;
    margin-right: 20px;
    margin-top: 10px;
}

.info.prodotto{
    width: 15%;
}

.info.compagnia{
    width: 15%;
}

.info.risorse{
    width: 15%;
}

.info.norme{
    width: 15%;
}

#flag img{
    margin-top: 10px;
    width: 3%;
}

footer li{
    list-style: none;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: left;
}

footer ul li a{
    color: white;
    text-decoration: none;
    text-align: left;
}

footer ul li .title-list{
    color: #8ea1e1;
}

hr{
    border-color: #8ea1e1;
    margin-top: 20px;
}

#credits{
    padding-top: 40px;
}

#logo-footer{
    margin-top: 20px;
    float:left; 
    height: 70px;
    margin-top:auto;
}

.btn.btn-footer{
    color:rgb(255, 255, 255);
    background-color: #8ea1e1;
    
}


/* Fine regole footer */